*{
    font-family: var(--font-family)
}

.subtitulo-secondary{
    font-size: 2rem;
    color: var(--secondary-text-color);
    line-height: 32px;
    font-weight: 700;
    word-spacing: 5px;
}

.text-secondary{
    color: var(--secondary-text-color);
    font-size: 1rem;
}

.bi-chevron-right{
    color: var(--secondary-text-color);
}

@media screen and (max-width: 720px){
    .subtitulo-secondary{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px){
    .subtitulo-secondary{
        font-size: 1.5rem;
        word-spacing: 3px;
    }
}