/* Normalizar el estilo */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.logo-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 30px;
    background-color: burlywood;
    align-items: center;
    height: 70px;
}

.header-left{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-right{
    display: flex;
    gap: 5px;
}

header nav a{
    color: peru;
    border-left: 1px solid brown;
    border-radius: 2px;
    padding: 5px;
}

body{
    background-color: green;
}

.padre{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: space-between; */  
    justify-content: center;
    padding: 20px 40px;
    align-items: center;
    background-color: blanchedalmond;
    height: 100vh;


}

.hijo{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 10px;
}