
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    background-color: rgb(36,18,40);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.user{
    display: flex;
    margin: 0px 7px;
    position: relative;
    align-items: center;
    width: 300px;
    height: 100%;
}

.img_avatar {
    width: 30px;
    border-radius: 30%;
    margin: 5px;
}

div span {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 8px;
    margin-top: 5px;
    color: rgb(193, 172, 199);
    background-color: transparent;
}

.activo {
    position: absolute;
    bottom: 0px;
    left: 19px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: solid 1px rgb(36, 18, 41);
    background-color: #3DAA7C;
}

.inactivo {
    position: absolute;
    bottom: 0px;
    left: 19px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: solid 1px white;
    background-color: rgb(36, 18, 41);
}

.delete{
    display: none;
    position: absolute;
    right: 15px;
    top: 7px;
}

.bi-x-lg{
    background-color: rgb(48, 34, 52);
}

.user:hover {
    background-color: rgb(48, 34, 52);
    border-radius: 10px;
    cursor: pointer;
    .delete{
        display: flex;
    }
}
